<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cnode login</title>
    <script type="text/javascript" src="../node_modules/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="../node_modules/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="login">
        <input type="text" id="username" placeholder="用户名">
        <input type="password" id="password" placeholder="密码">
        <button id="loginBtn" @click="login()">login</button>
    </div>

    <script>
        var login = new Vue({
            el:"#login",
            methods:{
                login:function(){
                    alert("clicked");
                    axios.get("'https://cnodejs.org/api/v1/user/Klay-Clam")
                    .then(function(response){
                        console.log(response);
                    })
                    .catch(function(error){
                        console.log(error);
                    })
                }
            }
        })
    </script>
</body>

</html>